# Load Raw Data and Packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas_profiling

In [2]:
H21RawData=pd.read_csv("../../data/raw/world-happiness-report-2021.csv")
H19RawData=pd.read_csv('../../data/raw/2019.csv')
H18RawData=pd.read_csv('../../data/raw/2018.csv')
H17RawData=pd.read_csv('../../data/raw/2017.csv')
H16RawData=pd.read_csv('../../data/raw/2016.csv')
H15RawData=pd.read_csv('../../data/raw/2015.csv')
LivCostRawData=pd.read_csv('../../data/raw/cost_of_living 2020.csv')
GDPRawData=pd.read_csv('../../data/raw/gdp.csv')
H20RawData=pd.read_csv('../../data/raw/world-happiness-report.csv')

# Rename Columns

In [3]:
H17RawData.rename(columns={'Happiness.Rank':'Happiness Rank',
                           'Happiness.Score':'Happiness Score',
                           'Economy..GDP.per.Capita.':'Economy (GDP per Capita)',
                          'Trust..Government.Corruption.':'Trust (Government Corruption)'}, inplace=True)

In [4]:
H18RawData.rename(columns={'Overall rank':'Happiness Rank',
                           'Country or region':'Country',
                           'Score':'Happiness Score',
                           'GDP per capita':'Economy (GDP per Capita)',
                           'Freedom to make life choices':'Freedom',
                          'Perceptions of corruption':'Trust (Government Corruption)'}, inplace=True)

In [5]:
H19RawData.rename(columns={'Overall rank':'Happiness Rank',
                           'Country or region':'Country',
                           'Score':'Happiness Score',
                           'GDP per capita':'Economy (GDP per Capita)',
                           'Freedom to make life choices':'Freedom',
                          'Perceptions of corruption':'Trust (Government Corruption)'}, inplace=True)

#### Display Data

In [6]:
for val in H21RawData:
    print(val)

Country name
Regional indicator
Ladder score
Standard error of ladder score
upperwhisker
lowerwhisker
Logged GDP per capita
Social support
Healthy life expectancy
Freedom to make life choices
Generosity
Perceptions of corruption
Ladder score in Dystopia
Explained by: Log GDP per capita
Explained by: Social support
Explained by: Healthy life expectancy
Explained by: Freedom to make life choices
Explained by: Generosity
Explained by: Perceptions of corruption
Dystopia + residual

##### Use function to select columns that I want to explore

In [7]:
def select_col (df):
    df=df[['Country','Happiness Rank','Happiness Score','Economy (GDP per Capita)','Freedom','Trust (Government Corruption)','Generosity']]
    return (df)

In [8]:
df15=select_col(H15RawData)
df16=select_col(H16RawData)
df17=select_col(H17RawData)
df18=select_col(H18RawData)
df19=select_col(H19RawData)

# Create New Column and Append Several DataFrame to Combined as one Master DF

## Functions

In [9]:
year=['2015','2016','2017','2018','2019']
df=[df15,df16,df17,df18,df19]
df_list = []
for y,df in zip (year, df):
     df=df.assign(Year=y)
     df_list.append(df)
df_Master=pd.concat(df_list)

In [10]:
df_Master.head(100)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Freedom,Trust (Government Corruption),Generosity,Year
0,Switzerland,1,7.587,1.39651,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...
95,Bosnia and Herzegovina,96,4.949,0.83223,0.09245,0.00227,0.24808,2015
96,Lesotho,97,4.898,0.37545,0.31767,0.12504,0.16388,2015
97,Dominican Republic,98,4.885,0.89537,0.57672,0.14234,0.21684,2015
98,Laos,99,4.876,0.59066,0.59591,0.24249,0.42192,2015
99,Mongolia,100,4.874,0.82819,0.43626,0.02666,0.33230,2015

# Clean Data

In [11]:
df_Master.isnull().sum(axis=0)  #DataFrame has one Null value

Country                          0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Freedom                          0
Trust (Government Corruption)    1
Generosity                       0
Year                             0
dtype: int64

In [12]:
df_Master.isnull().sum().sum()

1

In [14]:
df_Master.shape

(782, 8)

In [15]:
df_Master.dropna(inplace=True)

In [16]:
df_Master.shape

(781, 8)

In [18]:
df_Master.describe().T

,count,mean,std,min,25%,50%,75%,max
Happiness Rank,781.0,78.773367,45.162398,1.000,40.00000,79.000,118.000000,158.000000
Happiness Score,781.0,5.377232,1.127071,2.693,4.50900,5.321,6.182000,7.769000
Economy (GDP per Capita),781.0,0.914537,0.405403,0.000,0.60500,0.982,1.233748,1.870766
Freedom,781.0,0.411254,0.152911,0.000,0.31048,0.431,0.531000,0.724000
Trust (Government Corruption),781.0,0.125436,0.105816,0.000,0.05400,0.091,0.156030,0.551910
Generosity,781.0,0.218618,0.122394,0.000,0.13000,0.202,0.279060,0.838075

In [20]:
df=[df15,df16,df17,df18,df19]
df_list = []
for df in df:
     df=df[df['Happiness Rank']<=10]
     df_list.append(df)
Top10=pd.concat(df_list)

In [22]:
Top10List=Top10['Country'].unique()

In [23]:
print(Top10List)

['Switzerland' 'Iceland' 'Denmark' 'Norway' 'Canada' 'Finland'
 'Netherlands' 'Sweden' 'New Zealand' 'Australia' 'Austria']

In [26]:
print(f" During year 2015 to 2019 there are {len(Top10List)} countries have been ranked as Top 10 happiness in the world")

 During year 2015 to 2019 there are 11 countries have been ranked as Top 10 happiness in the world

In [33]:
Top10df=df_Master.loc[df_Master['Country'].isin (Top10List)]
Top10df

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Freedom,Trust (Government Corruption),Generosity,Year
0,Switzerland,1,7.587,1.396510,0.665570,0.419780,0.296780,2015
1,Iceland,2,7.561,1.302320,0.628770,0.141450,0.436300,2015
2,Denmark,3,7.527,1.325480,0.649380,0.483570,0.341390,2015
3,Norway,4,7.522,1.459000,0.669730,0.365030,0.346990,2015
4,Canada,5,7.427,1.326290,0.632970,0.329570,0.458110,2015
5,Finland,6,7.406,1.290250,0.641690,0.413720,0.233510,2015
6,Netherlands,7,7.378,1.329440,0.615760,0.318140,0.476100,2015
7,Sweden,8,7.364,1.331710,0.659800,0.438440,0.362620,2015
8,New Zealand,9,7.286,1.250180,0.639380,0.429220,0.475010,2015
9,Australia,10,7.284,1.333580,0.651240,0.356370,0.435620,2015
12,Austria,13,7.200,1.337230,0.624330,0.186760,0.330880,2015
0,Denmark,1,7.526,1.441780,0.579410,0.444530,0.361710,2016
1,Switzerland,2,7.509,1.527330,0.585570,0.412030,0.280830,2016
2,Iceland,3,7.501,1.426660,0.566240,0.149750,0.476780,2016
3,Norway,4,7.498,1.577440,0.596090,0.357760,0.378950,2016
4,Finland,5,7.413,1.405980,0.571040,0.410040,0.254920,2016
5,Canada,6,7.404,1.440150,0.573700,0.313290,0.448340,2016
6,Netherlands,7,7.339,1.464680,0.552110,0.299270,0.474160,2016
7,New Zealand,8,7.334,1.360660,0.581470,0.419040,0.494010,2016
8,Australia,9,7.313,1.444430,0.568370,0.323310,0.474070,2016
9,Sweden,10,7.291,1.451810,0.582180,0.408670,0.382540,2016
11,Austria,12,7.119,1.450380,0.543550,0.213480,0.328650,2016
0,Norway,1,7.537,1.616463,0.635423,0.315964,0.362012,2017
1,Denmark,2,7.522,1.482383,0.626007,0.400770,0.355280,2017
2,Iceland,3,7.504,1.480633,0.627163,0.153527,0.475540,2017
3,Switzerland,4,7.494,1.564980,0.620071,0.367007,0.290549,2017
4,Finland,5,7.469,1.443572,0.617951,0.382612,0.245483,2017
5,Netherlands,6,7.377,1.503945,0.585384,0.282662,0.470490,2017
6,Canada,7,7.316,1.479204,0.611101,0.287372,0.435540,2017
7,New Zealand,8,7.314,1.405706,0.614062,0.382817,0.500005,2017
8,Sweden,9,7.284,1.494387,0.612924,0.384399,0.385399,2017
9,Australia,10,7.284,1.484415,0.601607,0.301184,0.477699,2017
12,Austria,13,7.006,1.487097,0.567766,0.221060,0.316472,2017
0,Finland,1,7.632,1.305000,0.681000,0.393000,0.202000,2018
1,Norway,2,7.594,1.456000,0.686000,0.340000,0.286000,2018
2,Denmark,3,7.555,1.351000,0.683000,0.408000,0.284000,2018
3,Iceland,4,7.495,1.343000,0.677000,0.138000,0.353000,2018
4,Switzerland,5,7.487,1.420000,0.660000,0.357000,0.256000,2018
5,Netherlands,6,7.441,1.361000,0.638000,0.295000,0.333000,2018
6,Canada,7,7.328,1.330000,0.653000,0.291000,0.321000,2018
7,New Zealand,8,7.324,1.268000,0.669000,0.389000,0.365000,2018
8,Sweden,9,7.314,1.355000,0.659000,0.383000,0.285000,2018
9,Australia,10,7.272,1.340000,0.647000,0.302000,0.361000,2018
11,Austria,12,7.139,1.341000,0.617000,0.224000,0.242000,2018
0,Finland,1,7.769,1.340000,0.596000,0.393000,0.153000,2019
1,Denmark,2,7.600,1.383000,0.592000,0.410000,0.252000,2019
2,Norway,3,7.554,1.488000,0.603000,0.341000,0.271000,2019
3,Iceland,4,7.494,1.380000,0.591000,0.118000,0.354000,2019
4,Netherlands,5,7.488,1.396000,0.557000,0.298000,0.322000,2019
5,Switzerland,6,7.480,1.452000,0.572000,0.343000,0.263000,2019
6,Sweden,7,7.343,1.387000,0.574000,0.373000,0.267000,2019
7,New Zealand,8,7.307,1.303000,0.585000,0.380000,0.330000,2019
8,Canada,9,7.278,1.365000,0.584000,0.308000,0.285000,2019
9,Austria,10,7.246,1.376000,0.532000,0.226000,0.244000,2019
10,Australia,11,7.228,1.372000,0.557000,0.290000,0.332000,2019

In [45]:
GDP=GDPRawData[GDPRawData["Year"]>2014]
GDP

                         Country Name Country Code  Year         Value
47                         Arab World          ARB  2015  2.563302e+12
48                         Arab World          ARB  2016  2.504703e+12
104            Caribbean small states          CSS  2015  6.951622e+10
105            Caribbean small states          CSS  2016  6.670736e+10
131    Central Europe and the Baltics          CEB  2015  1.285573e+12
...                               ...          ...   ...           ...
11392                     Yemen, Rep.          YEM  2016  2.731761e+10
11448                          Zambia          ZMB  2015  2.115439e+10
11449                          Zambia          ZMB  2016  2.106399e+10
11505                        Zimbabwe          ZWE  2015  1.630467e+10
11506                        Zimbabwe          ZWE  2016  1.661996e+10

[480 rows x 4 columns]

In [55]:
print(GDP.Year.unique().tolist()) # only has year 2015 & 2016 GDP not useful dataset---won't expore this dataset not too much value for my analysis

[2015, 2016]

In [ ]:
DF_Finland=df[df['Country']=='Finland'].reset_index(drop=True)
DF_Finland

In [ ]:
H21RawData[H21RawData['Country name']=='Finland']