In [1]:
from scripts import project_functions # relative import

In [2]:
df=project_functions.load_process('../../data/raw/2016.csv')

In [5]:
df

<bound method DataFrame.reset_index of     Country_Sorted                           Region  Happiness Rank  \
153    Afghanistan                    Southern Asia             154
108        Albania       Central and Eastern Europe             109
37         Algeria  Middle East and Northern Africa              38
140         Angola               Sub-Saharan Africa             141
25       Argentina      Latin America and Caribbean              26
..             ...                              ...             ...
43       Venezuela      Latin America and Caribbean              44
95         Vietnam                Southeastern Asia              96
146          Yemen  Middle East and Northern Africa             147
105         Zambia               Sub-Saharan Africa             106
130       Zimbabwe               Sub-Saharan Africa             131

     Happiness Score  Lower Confidence Interval  Upper Confidence Interval  \
153            3.360                      3.288                      3.432
108            4.655                      4.546                      4.764
37             6.355                      6.227                      6.483
140            3.866                      3.753                      3.979
25             6.650                      6.560                      6.740
..               ...                        ...                        ...
43             6.084                      5.973                      6.195
95             5.061                      4.991                      5.131
146            3.724                      3.621                      3.827
105            4.795                      4.645                      4.945
130            4.193                      4.101                      4.285

     Economy (GDP per Capita)  Health (Life Expectancy)  \
153                   0.38227                   0.17344
108                   0.95530                   0.73007
37                    1.05266                   0.61804
140                   0.84731                   0.04991
25                    1.15137                   0.69711
..                        ...                       ...
43                    1.13367                   0.61904
95                    0.74037                   0.66157
146                   0.57939                   0.31048
105                   0.61202                   0.23573
130                   0.35041                   0.15950

     Trust (Government Corruption)  Generosity  Dystopia Residual
153                        0.07112     0.31268            2.14558
108                        0.05301     0.16840            1.92816
37                         0.16157     0.07044            3.40904
140                        0.08434     0.12071            2.09459
25                         0.07296     0.10989            3.12985
..                             ...         ...                ...
43                         0.08304     0.04250            2.97468
95                         0.11556     0.25075            1.94180
146                        0.05892     0.09821            1.97295
105                        0.11479     0.17866            2.58991
130                        0.08582     0.18503            2.44270

[157 rows x 11 columns]>

In [11]:
H16RawData=pd.read_csv('../../data/raw/2016.csv')

In [13]:
df_clean=project_functions.process_df(H16RawData)
df_clean

                                 Happiness Rank
Region
Australia and New Zealand                     9
North America                                13
Western Europe                               99
Eastern Asia                                101
Central and Eastern Europe                  129
Latin America and Caribbean                 136
Southeastern Asia                           140
Southern Asia                               154
Middle East and Northern Africa             156
Sub-Saharan Africa                          157