## Exploratory Data Analysis (EDA)

### Describe your dataset

Consider the following questions to guide you in your exploration:

- Who: Which company/agency/organization provided this data?

This data if from http://serebii.net/ (was scraped)

- What: What is in your data?

1. **Content of the data:**
1. **country:** The English name of the Country 
1. **period:** The Year the Data was collected for
1. **h_index:** The entry number the Happiness Index
1. **alco:** Alcohol total per capita (15+) consumption
1. **homi:** Estimated Rate of homicide per 100 000 population
1. **road:** Estimated number of road traffic deaths
1. **suic:** Crude suicide rates (per 100 000 population)


- When: When was your data collected (for example, for which years)?

This data was last updated to include 2019 (from 2015-2019)

- Why: What is the purpose of your dataset? Is it for transparency/accountability, public interest, fun, learning, etc...

The Happiness index is used as a factor to determine how the 'happiness' of a population in a country. It has been used to determine the effectiveness of policy making and is useful for guaging the population's reaction to different events and circumstances.

The indicator data is from the WHO and is useful for knowing the overall health of populations across the world. It is useful for determining what areas the world should be focusing on to improve overall health.

- How: How was your data collected? Was it a human collecting the data? Historical records digitized? Server logs?

The Gallup World Poll interviews people directly and works with partnering organizations to collect data. The WHO has a Global Health Observatory data repository that mainly derives data from population-based sources (household surveys, civil registration systems of vital events) and institution-based sources (administrative and operational activities of institutions).

In [1]:
from scripts import project_functions as pf # This is called a relative import
from scripts import vari

df=pf.pd.read_csv('../../data/processed/h_ind_merged_noalco.csv')
df.head()
df.describe( include=[pf.np.number]).T

,count,mean,std,min,25%,50%,75%,max
period,5562.0,2016.997843,1.415483,2015.000,2016.000,2017.0000,2018.0000,2019.000
h_index,5562.0,5.448548,1.129708,2.839,4.518,5.3875,6.3210,7.769
homi,5562.0,7.442530,13.655071,0.000,1.180,2.9300,7.8200,124.500
road,5562.0,8308.382540,29579.482764,6.950,535.000,2033.5000,5686.0000,258175.000
suic,5562.0,9.044962,7.634582,0.350,3.650,6.8600,11.7725,61.710

In [2]:
df_al=pf.pd.read_csv('../../data/processed/h_alco.csv')
df_al.head()
df_al.describe( include=[pf.np.number]).T

,count,mean,std,min,25%,50%,75%,max
period,719.0,2016.997218,2.001390,2015.000,2015.0000,2015.000,2019.0000,2019.000
h_index,719.0,5.485014,1.125695,2.839,4.5985,5.399,6.2775,7.769
alco,719.0,6.240334,5.424805,0.000,1.8000,4.800,9.7000,24.700

In [3]:
h_rank=df.groupby('country').mean()[['h_index']]
h_rank=h_rank.sort_values("h_index", ascending=False)
h_rank=h_rank.reset_index()
h_rank

         country  h_index
0        Denmark   7.5460
1         Norway   7.5410
2        Finland   7.5378
3    Switzerland   7.5114
4        Iceland   7.5110
..           ...      ...
119        Yemen   3.6258
120         Togo   3.5442
121  Afghanistan   3.5128
122       Rwanda   3.4386
123      Burundi   3.0790

[124 rows x 2 columns]

In [5]:
alco_rank=df_al.groupby('country').mean()[['alco']]
alco_rank=alco_rank.sort_values("alco", ascending=False)
alco_rank=alco_rank.reset_index()
alco_rank

          country       alco
0       Lithuania  14.583333
1         Germany  13.000000
2         Estonia  12.983333
3          Uganda  12.950000
4         Ireland  12.733333
..            ...        ...
119    Mauritania   0.000000
120    Bangladesh   0.000000
121        Kuwait   0.000000
122  Saudi Arabia   0.000000
123   Afghanistan   0.000000

[124 rows x 2 columns]

In [6]:
homi_rank=df.groupby('country').mean()[['homi']]
homi_rank=homi_rank.sort_values("homi", ascending=False)
homi_rank=homi_rank.reset_index()
homi_rank

          country       homi
0     El Salvador  85.768000
1        Honduras  64.532667
2         Jamaica  51.252667
3        Colombia  41.845333
4    South Africa  37.853333
..            ...        ...
119   Switzerland   0.548000
120         Qatar   0.485333
121       Bahrain   0.346000
122     Singapore   0.326000
123         Japan   0.238000

[124 rows x 2 columns]

In [7]:
road_rank=df.groupby('country').mean()[['road']]
road_rank=road_rank.sort_values("road", ascending=False)
road_rank=road_rank.reset_index()
road_rank

        country           road
0         China  254190.800000
1         India  206626.200000
2       Nigeria   40315.400000
3        Brazil   38416.800000
4     Indonesia   31302.200000
..          ...            ...
119      Cyprus      68.666000
120  Montenegro      56.400000
121  Luxembourg      33.296364
122       Malta      19.582000
123     Iceland      17.382000

[124 rows x 2 columns]

In [8]:
suic_rank=df.groupby('country').mean()[['suic']]
suic_rank=suic_rank.sort_values("suic", ascending=False)
suic_rank=suic_rank.reset_index()
suic_rank

          country       suic
0       Lithuania  31.256667
1    South Africa  24.502000
2         Belarus  23.903333
3         Ukraine  22.222000
4          Latvia  21.287333
..            ...        ...
119     Indonesia   2.391333
120        Turkey   2.316000
121       Jamaica   2.274667
122   Philippines   2.204667
123        Jordan   1.525333

[124 rows x 2 columns]

# Data Analysis and Visualizations

## Initial Comparision of Happiness with Four Health Indicators

![Alcohol vs H index](Hindex_alco.png)

1. The relationship between happiness and alcohol consuption does not appear to be linear or strongly corrolated. It appears that countries with the highest amounts of alchol consumption have above average happiness. The most concentrated cluster appears to be around medium happiness where these countries have very low levels of alcohol consumption. It appears that on average, the countries with higher happiness indexes also have higher alcohol consumption.

![Road Accidents vs H index](Hindex_road.png)

2. This distribution is relatively flat and concentrated around low traffic accident rates and middle happiness. The correlation between the variables is again non-linear. As shown, the countries with the highest rates of road accident deaths are actually middle happiness (compared to overall mean of 5.4). However, the countries with the highest happiness have very low rates of traffic accidents.

![Homicide Rates vs H index](Hindex_homi.png)

3. This distribution is also relatively flat but contains the highest variation of homicide rates for the top 75 percentile happiness countries. The happinest countries appear to have low rates of homicide but a similar observation can be made about the least happy countries. On average, the countries with average happiness have low rates of homicide. 

![Suicide Rates vs H index](Hindex_suic.png)

4. This distribution is has a bit of a fan effect. Although the distribution is not clearly linear or any pattern, it is interesting to note that happier countries have a pretty wide range of suicide rates. For those countries with a happiness score above the mean (5.4), the achieved the highest rates of suicide overall. Furthermore, the range of rates per country is higher for the top 90 percentile than the bottom 10 percentile.

In [ ]:
from pandas_profiling import ProfileReport
# Your solution for `pandas_profiling`

prof = ProfileReport(df)
prof