In [19]:
from scripts import project_functions # This is called a relative import
from scripts import vari
    
clean_2015 = project_functions.hap_load_and_process(vari.h2015_data, vari.dict_2015,vari.list_2015)
clean_2016 = project_functions.hap_load_and_process(vari.h2016_data, vari.dict_2016,vari.list_2016)
clean_2017 = project_functions.hap_load_and_process(vari.h2017_data, vari.dict_2017,vari.list_2017)
clean_2018 = project_functions.hap_load_and_process(vari.h2018_data, vari.dict_2018,vari.list_2018)
clean_2019 = project_functions.hap_load_and_process(vari.h2019_data, vari.dict_2019,vari.list_2019)


clean_alco=project_functions.ind_load_and_process(vari.alco)
clean_alco=project_functions.clean_ind(clean_alco)
melted_clean_alco = clean_alco.melt(id_vars=['country','period'],value_vars = 'clean_alco',var_name='Variable',value_name='value')

clean_homi=project_functions.ind_load_and_process(vari.homi)
clean_homi=project_functions.clean_ind(clean_homi)
melted_clean_homi = clean_homi.melt(id_vars=['country','period'],value_vars = 'clean_homi',var_name='Variable',value_name='value')

clean_road=project_functions.ind_load_and_process(vari.road)
clean_road=project_functions.clean_ind(clean_road)
melted_clean_road = clean_road.melt(id_vars=['country','period'],value_vars = 'road_acc',var_name='Variable',value_name='value')

clean_suic=project_functions.ind_load_and_process(vari.suic)
clean_suic=project_functions.clean_ind(clean_suic)
melted_clean_suic = clean_suic.melt(id_vars=['country','period'],value_vars = 'clean_suic',var_name='Variable',value_name='value')
melted_clean_suic

/var/folders/wm/gwszwg0521zgk9f5t950gp6r0000gn/T/ipykernel_76227/3658105775.py:13: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  melted_clean_alco = clean_alco.melt(id_vars=['country','period'],value_vars = 'clean_alco',var_name='Variable',value_name='value')
/var/folders/wm/gwszwg0521zgk9f5t950gp6r0000gn/T/ipykernel_76227/3658105775.py:17: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  melted_clean_homi = clean_homi.melt(id_vars=['country','period'],value_vars = 'clean_homi',var_name='Variable',value_name='value')
/var/folders/wm/gwszwg0521zgk9f5t950gp6r0000gn/T/ipykernel_76227/3658105775.py:21: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  melted_clean_road = clean_road.melt(id_vars=['country','period'],value_vars = 'road_acc',var_name='Variable',value_name='value')

TypeError: melt() got an unexpected keyword argument 'var_vars'

In [2]:
data_frames=[clean_2015,clean_2016,clean_2017,clean_2018,clean_2019]


hap_merged= project_functions.reduce(lambda  left,right: project_functions.pd.merge(left,right,on=['country'],
                                            how='inner'), data_frames)

master_data=hap_merged[['country','2015','2016','2017','2018','2019']]

just_scores=project_functions.pd.melt(master_data, id_vars=['country'], value_vars=['2015', '2016','2017', '2018','2019'])
just_scores=just_scores.rename(columns={"variable":"period","value":"h_index"})
just_scores=just_scores.sort_values(sorted(list(just_scores[['country']])), ignore_index=True)
just_scores['period']=just_scores['period'].astype(int)
just_scores

         country  period  h_index
0    Afghanistan    2015    3.575
1    Afghanistan    2019    3.203
2    Afghanistan    2016    3.360
3    Afghanistan    2018    3.632
4    Afghanistan    2017    3.794
..           ...     ...      ...
700     Zimbabwe    2017    3.875
701     Zimbabwe    2016    4.193
702     Zimbabwe    2015    4.610
703     Zimbabwe    2018    3.692
704     Zimbabwe    2019    3.663

[705 rows x 3 columns]

In [9]:
melted_clean_alco=project_functions.pd.merge(just_scores,melted_clean_alco, on=['country','period'],how='inner')[['country','period','Variable','alco']]
melted_clean_homi=project_functions.pd.merge(just_scores,melted_clean_homi, on=['country','period'],how='inner')[['country','period','Variable','homi']]
melted_clean_road=project_functions.pd.merge(just_scores,melted_clean_road, on=['country','period'],how='inner')[['country','period','Variable','road']]
melted_clean_suic=project_functions.pd.merge(just_scores,melted_clean_suic, on=['country','period'],how='inner')[['country','period','Variable','suic']]
melted_clean_suic

          country  period Variable   suic
0     Afghanistan    2015    value   3.57
1     Afghanistan    2015    value   3.97
2     Afghanistan    2015    value   4.34
3     Afghanistan    2019    value   3.61
4     Afghanistan    2019    value   4.63
...           ...     ...      ...    ...
1855     Zimbabwe    2018    value  19.87
1856     Zimbabwe    2018    value     14
1857     Zimbabwe    2019    value   8.79
1858     Zimbabwe    2019    value  19.98
1859     Zimbabwe    2019    value  14.12

[1860 rows x 4 columns]