In [1]:
from scripts import project_functions # This is called a relative import
from scripts import vari
    
clean_2015 = project_functions.hap_load_and_process(vari.h2015_data, vari.dict_2015,vari.list_2015)
clean_2016 = project_functions.hap_load_and_process(vari.h2016_data, vari.dict_2016,vari.list_2016)
clean_2017 = project_functions.hap_load_and_process(vari.h2017_data, vari.dict_2017,vari.list_2017)
clean_2018 = project_functions.hap_load_and_process(vari.h2018_data, vari.dict_2018,vari.list_2018)
clean_2019 = project_functions.hap_load_and_process(vari.h2019_data, vari.dict_2019,vari.list_2019)


clean_alco=project_functions.ind_load_and_process(vari.alco,'alco')
clean_alco=project_functions.clean_ind(clean_alco)
clean_alco=clean_alco.drop_duplicates()
clean_alco=clean_alco.reset_index(drop=True)
melted_clean_alco = clean_alco.melt(id_vars=['country','period'],value_vars = 'clean_alco',var_name='Variable',value_name='alco')
melted_clean_alco=melted_clean_alco.drop_duplicates()
melted_clean_alco=melted_clean_alco.reset_index(drop=True)


clean_homi=project_functions.ind_load_and_process(vari.homi,'homi')
clean_homi=project_functions.clean_ind(clean_homi)
clean_homi=clean_homi.drop_duplicates()
clean_homi=clean_homi.reset_index(drop=True)
melted_clean_homi = clean_homi.melt(id_vars=['country','period'],value_vars = 'clean_homi',var_name='Variable',value_name='homi')
melted_clean_homi=melted_clean_homi.drop_duplicates()
melted_clean_homi=melted_clean_homi.reset_index(drop=True)


clean_road=project_functions.ind_load_and_process(vari.road,'road')
clean_road=project_functions.clean_ind(clean_road)
clean_road=clean_road.drop_duplicates()
clean_road=clean_road.reset_index(drop=True)
melted_clean_road = clean_road.melt(id_vars=['country','period'],value_vars = 'road_acc',var_name='Variable',value_name='road')
melted_clean_road=melted_clean_road.drop_duplicates()
melted_clean_road=melted_clean_road.reset_index(drop=True)


clean_suic=project_functions.ind_load_and_process(vari.suic,'suic')
clean_suic=project_functions.clean_ind(clean_suic)
clean_suic=clean_suic.drop_duplicates()
clean_suic=clean_suic.reset_index(drop=True)
melted_clean_suic = clean_suic.melt(id_vars=['country','period'],value_vars = 'clean_suic',var_name='Variable',value_name='suic')
melted_clean_suic=melted_clean_suic.drop_duplicates()
melted_clean_suic=melted_clean_suic.reset_index(drop=True)
melted_clean_road

#print(s.replace(' ', ''))

/var/folders/wm/gwszwg0521zgk9f5t950gp6r0000gn/T/ipykernel_78054/3838308571.py:15: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  melted_clean_alco = clean_alco.melt(id_vars=['country','period'],value_vars = 'clean_alco',var_name='Variable',value_name='alco')
/var/folders/wm/gwszwg0521zgk9f5t950gp6r0000gn/T/ipykernel_78054/3838308571.py:24: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  melted_clean_homi = clean_homi.melt(id_vars=['country','period'],value_vars = 'clean_homi',var_name='Variable',value_name='homi')
/var/folders/wm/gwszwg0521zgk9f5t950gp6r0000gn/T/ipykernel_78054/3838308571.py:33: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  melted_clean_road = clean_road.melt(id_vars=['country','period'],value_vars = 'road_acc',var_name='Variable',value_name='road')
/var/folders/wm/gwszwg0521zgk9f5t950gp6r0000gn/T/ipykernel_78054/3838308571.py:42: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  melted_clean_suic = clean_suic.melt(id_vars=['country','period'],value_vars = 'clean_suic',var_name='Variable',value_name='suic')

         country  period Variable   road
0    Afghanistan    2015     road  4,942
1    Afghanistan    2016     road  5,240
2    Afghanistan    2017     road  5,490
3    Afghanistan    2018     road  5,295
4    Afghanistan    2019     road  6,033
..           ...     ...      ...    ...
910     Zimbabwe    2015     road  5,353
911     Zimbabwe    2016     road  5,601
912     Zimbabwe    2017     road  5,702
913     Zimbabwe    2018     road  5,867
914     Zimbabwe    2019     road  6,037

[915 rows x 4 columns]

In [2]:
data_frames=[clean_2015,clean_2016,clean_2017,clean_2018,clean_2019]


hap_merged= project_functions.reduce(lambda  left,right: project_functions.pd.merge(left,right,on=['country'],
                                            how='inner'), data_frames)

master_data=hap_merged[['country','2015','2016','2017','2018','2019']]

just_scores=project_functions.pd.melt(master_data, id_vars=['country'], value_vars=['2015', '2016','2017', '2018','2019'])
just_scores=just_scores.rename(columns={"variable":"period","value":"h_index"})
just_scores=just_scores.sort_values(['country','period'],ascending=[True, True], ignore_index=True)
#just_scores=just_scores.sort_values(sorted(list(just_scores[['country']])), ignore_index=True)
#df.sort_values(['a', 'b'], ascending=[True, False])
just_scores['period']=just_scores['period'].astype(int)
just_scores

         country  period  h_index
0    Afghanistan    2015    3.575
1    Afghanistan    2016    3.360
2    Afghanistan    2017    3.794
3    Afghanistan    2018    3.632
4    Afghanistan    2019    3.203
..           ...     ...      ...
700     Zimbabwe    2015    4.610
701     Zimbabwe    2016    4.193
702     Zimbabwe    2017    3.875
703     Zimbabwe    2018    3.692
704     Zimbabwe    2019    3.663

[705 rows x 3 columns]

In [3]:

melted_clean_alco=project_functions.pd.merge(just_scores,melted_clean_alco, on=['country','period'],how='inner')[['country','period','Variable','alco']]
#melted_clean_alco=melted_clean_alco.rename(columns={'value':'alco'})

melted_clean_homi=project_functions.pd.merge(just_scores,melted_clean_homi, on=['country','period'],how='inner')[['country','period','Variable','homi']]
#melted_clean_homi=melted_clean_homi.rename(columns={'value':'homi'})

melted_clean_road=project_functions.pd.merge(just_scores,melted_clean_road, on=['country','period'],how='inner')[['country','period','Variable','road']]
#melted_clean_road=melted_clean_road.rename(columns={'value':'road'})

melted_clean_suic=project_functions.pd.merge(just_scores,melted_clean_suic, on=['country','period'],how='inner')[['country','period','Variable','suic']]
#melted_clean_suic=melted_clean_suic.rename(columns={'value':'suic'})

In [4]:
data=[just_scores,melted_clean_alco,melted_clean_homi,melted_clean_road,melted_clean_suic]

final_merged= project_functions.reduce(lambda  left,right: project_functions.pd.merge(left,right,on=['country','period'],
                                            how='inner'), data)

final_merged=final_merged.drop_duplicates()

final_merged[['period','h_index','alco','homi','road','suic']] = final_merged[['period','h_index','alco','homi','road','suic']].apply(project_functions.pd.to_numeric)
#final_merged['period','h_index','alco','homi','road','suic'] = project_functions.pd.to_numeric(final_merged['period','h_index','alco','homi','road','suic'])

#final_merged=final_merged.astype({'period':'float','h_index':'float','alco':'float','homi':'float','road':'float','suic':'float'})
final_merged
#just_scores['period']=just_scores['period'].astype(int)

ValueError: Unable to parse string "4,942" at position 0

In [ ]:
# Your Solution here
ax=project_functions.sns.pairplot(final_merged[['h_index','alco','homi','road','suic']], corner=True)
ax.fig.suptitle('Happiness by Indicators') #just setting title displays title on each plot

In [ ]:
project_functions.sns.jointplot(data=final_merged, x='h_index', y='alco', kind="hex")