In [7]:
from scripts import project_functions # This is called a relative import
from scripts import vari
df = project_functions.hap_load_and_process(vari.h2015_data, vari.dict_2015,vari.list_2015)
df

         country   2015  life 2015
0    Afghanistan  3.575    0.30335
1        Albania  4.959    0.81325
2        Algeria  5.605    0.61766
3         Angola  4.033    0.16683
4      Argentina  6.574    0.78723
..           ...    ...        ...
153    Venezuela  6.810    0.72052
154      Vietnam  5.360    0.74676
155        Yemen  4.077    0.40064
156       Zambia  5.129    0.29924
157     Zimbabwe  4.610    0.33475

[158 rows x 3 columns]