In [6]:
from scripts import project_functions # This is called a relative import
from scripts import vari
    
clean_2015 = project_functions.hap_load_and_process(vari.h2015_data, vari.dict_2015,vari.list_2015)
clean_2016 = project_functions.hap_load_and_process(vari.h2016_data, vari.dict_2016,vari.list_2016)
clean_2017 = project_functions.hap_load_and_process(vari.h2017_data, vari.dict_2017,vari.list_2017)
clean_2018 = project_functions.hap_load_and_process(vari.h2018_data, vari.dict_2018,vari.list_2018)
clean_2019 = project_functions.hap_load_and_process(vari.h2019_data, vari.dict_2019,vari.list_2019)


clean_alco=project_functions.ind_load_and_process(vari.alco,'alco')
clean_alco=project_functions.clean_ind(clean_alco)
melted_clean_alco = clean_alco.melt(id_vars=['country','period'],value_vars = 'clean_alco',var_name='Variable',value_name='value')
melted_clean_alco=melted_clean_alco.drop_duplicates()

clean_homi=project_functions.ind_load_and_process(vari.homi,'homi')
clean_homi=project_functions.clean_ind(clean_homi)
melted_clean_homi = clean_homi.melt(id_vars=['country','period'],value_vars = 'clean_homi',var_name='Variable',value_name='value')
melted_clean_homi=melted_clean_homi.drop_duplicates()

clean_road=project_functions.ind_load_and_process(vari.road,'road')
clean_road=project_functions.clean_ind(clean_road)
melted_clean_road = clean_road.melt(id_vars=['country','period'],value_vars = 'road_acc',var_name='Variable',value_name='value')
melted_clean_road=melted_clean_road.drop_duplicates()

clean_suic=project_functions.ind_load_and_process(vari.suic,'suic')
clean_suic=project_functions.clean_ind(clean_suic)
melted_clean_suic = clean_suic.melt(id_vars=['country','period'],value_vars = 'clean_suic',var_name='Variable',value_name='value')
melted_clean_suic=melted_clean_suic.drop_duplicates()
melted_clean_suic

          country  period Variable  value
0     Afghanistan    2018     suic   3.52
1     Afghanistan    2019     suic   3.61
2     Afghanistan    2015     suic   3.57
3     Afghanistan    2019     suic   4.63
4     Afghanistan    2016     suic   4.01
...           ...     ...      ...    ...
2740     Zimbabwe    2017     suic  21.01
2741     Zimbabwe    2015     suic  23.83
2742     Zimbabwe    2016     suic  22.48
2743     Zimbabwe    2019     suic  14.12
2744     Zimbabwe    2015     suic  17.96

[2741 rows x 4 columns]

In [2]:
data_frames=[clean_2015,clean_2016,clean_2017,clean_2018,clean_2019]


hap_merged= project_functions.reduce(lambda  left,right: project_functions.pd.merge(left,right,on=['country'],
                                            how='inner'), data_frames)

master_data=hap_merged[['country','2015','2016','2017','2018','2019']]

just_scores=project_functions.pd.melt(master_data, id_vars=['country'], value_vars=['2015', '2016','2017', '2018','2019'])
just_scores=just_scores.rename(columns={"variable":"period","value":"h_index"})
just_scores=just_scores.sort_values(['country','period'],ascending=[True, True], ignore_index=True)
#just_scores=just_scores.sort_values(sorted(list(just_scores[['country']])), ignore_index=True)
#df.sort_values(['a', 'b'], ascending=[True, False])
just_scores['period']=just_scores['period'].astype(int)
just_scores

         country  period  h_index
0    Afghanistan    2015    3.575
1    Afghanistan    2016    3.360
2    Afghanistan    2017    3.794
3    Afghanistan    2018    3.632
4    Afghanistan    2019    3.203
..           ...     ...      ...
700     Zimbabwe    2015    4.610
701     Zimbabwe    2016    4.193
702     Zimbabwe    2017    3.875
703     Zimbabwe    2018    3.692
704     Zimbabwe    2019    3.663

[705 rows x 3 columns]

In [3]:
'''
melted_clean_alco=project_functions.pd.merge(just_scores,melted_clean_alco, on=['country','period'],how='inner')[['country','period','Variable','value']]
melted_clean_homi=project_functions.pd.merge(just_scores,melted_clean_homi, on=['country','period'],how='inner')[['country','period','Variable','value']]
melted_clean_road=project_functions.pd.merge(just_scores,melted_clean_road, on=['country','period'],how='inner')[['country','period','Variable','value']]
melted_clean_suic=project_functions.pd.merge(just_scores,melted_clean_suic, left_on=['country','period'],right_on=['country','period'],how='inner')#[['country','period','Variable','value']]
'''

"\nmelted_clean_alco=project_functions.pd.merge(just_scores,melted_clean_alco, on=['country','period'],how='inner')[['country','period','Variable','value']]\nmelted_clean_homi=project_functions.pd.merge(just_scores,melted_clean_homi, on=['country','period'],how='inner')[['country','period','Variable','value']]\nmelted_clean_road=project_functions.pd.merge(just_scores,melted_clean_road, on=['country','period'],how='inner')[['country','period','Variable','value']]\nmelted_clean_suic=project_functions.pd.merge(just_scores,melted_clean_suic, left_on=['country','period'],right_on=['country','period'],how='inner')#[['country','period','Variable','value']]\n"

In [4]:
data=[just_scores,melted_clean_alco,melted_clean_homi,melted_clean_road,melted_clean_suic]

final_merged= project_functions.reduce(lambda  left,right: project_functions.pd.merge(left,right,on=['country','period'],
                                            how='inner'), data)

final_merged.drop_duplicates()

,country,period,h_index,Variable_x,value_x,Variable_y,value_y,Variable_x,value_x,Variable_y,value_y
0,Afghanistan,2015,3.575,alco,0,homi,9.09,road,"4,942",suic,3.57
1,Afghanistan,2015,3.575,alco,0,homi,9.09,road,"4,942",suic,3.97
2,Afghanistan,2015,3.575,alco,0,homi,9.09,road,"4,942",suic,4.34
3,Afghanistan,2015,3.575,alco,0,homi,14.44,road,"4,942",suic,3.57
4,Afghanistan,2015,3.575,alco,0,homi,14.44,road,"4,942",suic,3.97
...,...,...,...,...,...,...,...,...,...,...,...
6457,Zimbabwe,2019,3.663,alco,1.6,homi,13.08,road,"6,037",suic,19.98
6458,Zimbabwe,2019,3.663,alco,1.6,homi,13.08,road,"6,037",suic,14.12
6459,Zimbabwe,2019,3.663,alco,1.6,homi,5.25,road,"6,037",suic,8.79
6460,Zimbabwe,2019,3.663,alco,1.6,homi,5.25,road,"6,037",suic,19.98
6461,Zimbabwe,2019,3.663,alco,1.6,homi,5.25,road,"6,037",suic,14.12